<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Bienvenido</title>
</head>
<body >
	<table style='background:#00555E' cellpadding="0" cellspacing="0" border="0" id="backgroundTable" background="#00555E">
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
                        <td valign="middle" style="color: #FFF; font-size: 14px; text-align:center; padding: 20px 30px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box;">
                         <h1 style="text-align: center;"><a href="http://www.domain.com" target ="_blank" title="Styling Links" style="text-align: center; text-decoration: none;">
                                <img class="image_fix" src="http://www.domain.com/public/img/white_logo.png" alt="domain.com" title="domain.com" width="100" height="100" /></a>
                         </h1>
                         <h1 style="color: #02C3B9" >&iexcl;Verifica tu cuenta!</h1>
                         <p>Esta es una comunidad hecha por humanos, y para humanos. Por esta raz&oacute;n necesitamos que compruebes que no eres un robot.</p>
						</td>
					</tr>

                     <!-- Link to activate account -->
                    <tr>
                        <td valign="middle" style="color: #FFF; font-size: 14px; text-align:center; padding: 20px 30px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box;">
                            <h2><p>Para desactivar tu cuenta<a href="{{data.url}}"> Haz clic aqu&iacute; </a></p></h2>
                        </td>
                    </tr>

                     <!-- Link to activate account -->
                    <tr>
                        <td valign="middle" style="color: #FFF; font-size: 14px; text-align:center; padding: 20px 30px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box;">
                            <p>Estas recibiendo esta notificaci&oacute;n porque necesitamos saber que no eres un robot. Por medidas de seguridad no podemos permitirte desactivar la cuenta hasta demostrarnos que eres tu realmente.</p>
                            <p></p>
                        </td>
                    </tr>

				</table>			
                <table cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td width="600" align="center" valign="top" style="background: #ff5722; padding: 0px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box;">
							<a href="http://www.domain.com/causes" target ="_blank" title="convi&eacute;rtete en H&eacute;roe" style="text-align: center; text-decoration: none;"><h2 style="text-aling: center; color: #FFF">Conoce las causas y convi&eacute;rtete en H&eacute;roe</h2></a>
						</td>
					</tr>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" align="center" id="footer">
					<tr>                       					
						<td width="200" valign="middle" style="padding: 0px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; text-align: center;">
							<p style="text-align: center;"><a class="" href="https://twitter.com/palencia77" target="_blank"><img src="http://www.domain.com/public/img/icon_twitter_mobile_32x32.png" alt="twitter" /></a>
							<a class="" href="https://www.facebook.com/jezus.palencia" target="_blank"><img src="http://www.domain.com/public/img/icon_facebook_mobile_32x32.png" alt="facebook" /></a></p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>